.page {
  height: calc(100vh - 75px);
}
.puck-header {
  height: 40px;
}
.team-select,
.season-select,
.game-select {
  margin: 10px;
}
#season {
  height: 45%;
  position: relative;
}
#season-graph {
  height: 100%;
}
#season-overlay {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 200px;
  background: white;
  font-size: 12px;
}
#season-overlay .table {
  padding: 0px;
  margin-bottom: 0px;
}
#season-overlay tr,
#season-overlay td,
#season-overlay th {
  padding: 2px;
  line-height: 1em;
}
#game-graph {
  height: 45%;
}
.axis {
  font-family: inherit;
}
.axis path {
  stroke: #757575;
}
.axis .tick line {
  stroke: #757575;
}
.axis .tick text {
  fill: #757575;
}
.top {
  background-color: #a5d6a7;
}
.bottom {
  background-color: #ef9a9a;
}
.handle-line {
  stroke: #757575;
}
.handle-circ {
  fill: #757575;
}
path {
  fill: none;
}
.points {
  stroke: #0d47a1;
  stroke-width: 2;
}
.handle-home-pace {
  fill: #7e57c2;
}
.handle-road-pace {
  fill: #ec407a;
}
.handle-points {
  fill: #0d47a1;
}
.hp {
  stroke: #7e57c2;
}
.rp {
  stroke: #ec407a;
}
.ticks {
  font: 10px sans-serif;
}
.track {
  stroke: #000;
  stroke-opacity: 0.0;
  stroke-width: 1px;
}
.track-inset {
  stroke: #ddd;
  stroke-width: 1px;
}
.track-overlay {
  pointer-events: stroke;
  stroke-width: 100%;
  cursor: crosshair;
}
.handle {
  fill: green;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
rect {
  stroke: black;
  fill: white;
}
text {
  font-size: 12px;
}
